// Import page-specific CSS files here.
@import "home";

$bg: #F7F7F7;
$colortxt: #2d2d2d;
$spacer: 8px;

body {
  background: $bg;
  margin: 0;
  color: $colortxt;
}

.container {
  width: 100%;
  padding-left: ($spacer * 2);
  padding-right: ($spacer * 2);
  margin: auto;
  display: flex;
}

.cocktail_card {

}
